<!-- app/views/main/index.html.erb -->

<%# ヘッダー部分 %>
<%= render 'layouts/header' %>

<h1>メイン画面</h1>

<%# サイドメニュー %>
<aside class="side-menu">
  <ul>
    <%# ここにサイドメニューの内容を追加 %>
  </ul>
</aside>

<%# 本文部分 %>
<section class="main-content">
  <%# ここにメイン画面 %>
</section>



