
<!-- app/views/inquiries/new.html.erb -->

<%# ヘッダー部分 %>
<%= render 'layouts/header' %>

<h1>問い合わせ内容入力画面</h1>

<%= link_to "問い合わせ確認画面へ", confirm_inquiries_path %>

<%# ヘッダーにトップ画面ボタンを追加。layouts/headerに以下の内容を追加。 %>
<%= link_to "トップ画面", root_path %>

<%# %>
