
<!-- app/views/inquiries/thanks.html.erb -->

<%# ヘッダー部分 %>
<%= render 'layouts/header' %>

<h1>問い合わせ完了</h1>
<p>ご連絡いただきありがとうございます。担当者が確認次第、折り返し連絡いたします。</p>

<%= link_to "トップ画面に戻る", root_path, class: 'btn btn-primary' %>


