<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Sound Source UI</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
  <div id="sound-source-ui">
    <!-- ここに音源をドラッグ&ドロップできるUI要素を設計します -->
  </div>
</body>
</html>
